@charset="utf-8"

/*2.body*/ 
body{
font-family:"Avenir Next";
}
/*2-1.header*/ 
.header {
    background-color: #FFCC00;
    height:60px
}

.header-logo{
    float:left;
    padding: 1px;
    color:white;
    font-family: 'ＭＳ ゴシック', 
sans-serif;
}

.header-list li{
    list-style:none;
    float:right;
    padding:20px 10px 20px 10px;
    color:white;
    font-family: 'ＭＳ ゴシック', 
sans-serif;
    font-size: 13px
}

/*2-2.main*/ 
.copy-container{
    height:280px;
}

p{
    font-size: 12px
}
span{
    color: #FFCC00;
}
.section-title{
    height:5px;
}
.contents{
    height:350px
}

.contents-section-title{
    border-bottom:2px solid #FFCC00;
}
.contents-item{
    float:left;
    padding: 10px
}


/*2-3.footer*/
.footer{
       background-color:gainsboro;
    height:200px 
}

.footer-logo{
    float:left;
    padding:10px;
    color:darkslategray;
    font-family: 'ＭＳ ゴシック', 
sans-serif;
    font-size: 15px;
}

.footer-list li{
    list-style:none;
    float:left;
    padding:95px 500px;
    color:darkslategray;
    font-family: 'ＭＳ ゴシック', 
sans-serif;
    font-size: 12px;
}
