@charset="utf-8"

/*2.body*/ 
body{
font-family:"Avenir Next";
}
/*2-1.header*/ 
.header {
    background-color: #FFCC00;
    height:250px
}

.header-logo{
    float:left;
    padding: 90px;
    color:white;
    font-family: 'ＭＳ ゴシック', 
sans-serif;
}

.header-list{
    padding:180px 90px 10px 10px;
}
.header-list li{
    list-style:none;
    float:right;
    padding:0px 20px;
    color:white;
    font-family: 'ＭＳ ゴシック', 
sans-serif;
    font-size: 18px
}

/*2-2.main*/ 
.copy-container{
    height:650px;
}

p{
    font-size: 18px
}
span{
    color: 	#CC0000;
}
.section-title{
    font-size: 13px;
    height:5px;
}
.contents{
    height:400px
}

.contents-section-title{
    border-bottom:2px solid #FFCC00;
}
.contents-item{
    float:left;
    padding: 10px
}





a:hover img {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
  /*画像を70%の不透明度に*/
}
.link-button1:hover {
    background: #FFCC00;/*背景を黄色に*/
    padding:5px 10px;/*内側の余白*/
    border-radius: 20px;/*角を丸くする*/
}

a{
    text-decoration: none;
    color: white;/*文字を白に*/
}
.link-button1 {
    background: darkslategray;/*背景をネイビーに*/
    padding:5px 10px;/*内側の余白*/
    border-radius: 20px;/*角を丸くする*/
}





/*2-3.footer*/
.footer{
       background-color:gainsboro;
    height: 80px 
}

.footer-logo{
    float:left;
    padding:20px 90px;
    color:darkslategray;
    font-family: 'ＭＳ ゴシック', 
sans-serif;
    font-size: 18px;
}

.footer-list li{
    list-style:none;
    float:right;
    padding:40px 90px 0px 0px;
    color:darkslategray;
    font-family: 'ＭＳ ゴシック', 
sans-serif;
    font-size: 13px;
}
